.pdp-image-list {
  display: flex;
  flex-direction: column;
}
.pdp-image {
  margin: 0 10px 10px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.pdp-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  max-height: 514px;
}
