.campaign-banner {
  background-color: var(--color-lety3);
  color: #fff;
  height: 2.5em;
  
}
.campaign-banner .campaign-banner-container {
  height: 2.5em;
  overflow-y: hidden;
}
.campaign-banner .campaign-banner-message {
  /* margin-left: 2em;
  margin-right: 1em; */
  padding-top: 0.6em !important;
  padding-bottom: 1em;
  font-family: var(--font-family-gotham);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75em;
}
.campaign-banner .campaign-banner-message h1,
.campaign-banner .campaign-banner-message h2,
.campaign-banner .campaign-banner-message h3,
.campaign-banner .campaign-banner-message h4,
.campaign-banner .campaign-banner-message h5,
.campaign-banner .campaign-banner-message p {
  font-size: 1em;
  line-height: 1.5em;
}
.campaign-banner .campaign-banner-message a:visited {
  color: #fff;
}
.campaign-banner .campaign-banner-message a {
  color: #fff;
  margin-left: 1em;
}
.campaign-banner .campaign-banner-message p {
  margin-bottom: 0;
}

.campaign-banner .campaign-banner-message p strong {
  font-family: var(--font-family-gotham-bold);
}

.campaign-banner .close-button {
  
  margin-right: 1em;
}
.campaign-banner .close-button .close {
  opacity: 1;
  width: 100%;
  height: 1.75em;
}
.campaign-banner .close-button .close img {
  width: 0.7em;
  display: none;
}

@media (max-width: 992px) {
  .campaign-banner {
    height: 1.86em;
  }

  .campaign-banner .campaign-banner-container {
    height: 1.86em;
  }

  .campaign-banner .campaign-banner-message {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
  }

  .campaign-banner .close-button .close{
    display: none;
  }
}
