.content_img {
  position: relative;
  text-align: center;
  display: flex;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content_TB {
  position: absolute;
  padding-bottom: 40px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 518px;
  height: 45px;
  font-style: normal;
  font-weight: 650;
  font-size: 40px;
}

.text2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 232px;
  height: 37px;
  background-color: var(--color-lety1);
  /* border-color: #ffffff; */
  border: 1px solid var(--color-lety1);
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 150%*/
  box-shadow: 2px 2px 5px ghostwhite;
  text-align: center;
  letter-spacing: -0.011em;
  line-height: 0 !important;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 1;
  
}

.content_TB.align-top {
  top: 20%;
}

.content_TB.align-center {
  top: 50%;
  
}

.content_TB.align-buttom {
  top: 80%;
}

.content_TB.justify-left {
  left: 25%;
}

.content_TB.justify-center {
  justify-content: center;
}

.content_TB.justify-rigth {
  left: 77%;
}

@media (max-width: 991px) {
  .content_img{
    min-height: 170px;
  }
  .text1{
    justify-content: center;
    height: auto;
    font-size: 23px;
  }

  .text2{
    width: 150px;
    height: 25px;
    font-size: 11px;
  }
}