.ITBC-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.ITBC-container {
  position: relative;
}

.ITBC-content p,
.ITBC-content h1,
.ITBC-content h2,
.ITBC-content h3,
.ITBC-content h4 {
  font-family: "Avenir-LT-Std";
  text-align: center;
  color: #ffffff;
}

.ITBC-content p {
  font-size: 34px;
  font-weight: 900;
}

.ITBC-content h1 {
  font-size: 100px;
  font-weight: 800;
}

.ITBC-content h2 {
  font-size: 55px;
  font-weight: 400;
}

.ITBC-content h3 {
  font-size: 40px;
  font-weight: 800;
}

.ITBC-content h4 {
  font-size: 30px;
  font-weight: 800;
}

.ITBC-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparent;
  padding: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ITBC-content .ITBC-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.ITBC-content .btn-ITBC {
  background-color: #ffffff;
  color: #000000 !important;
  font-family: "Avenir-Next";
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.06rem;
  border-radius: 5px;
  opacity: 80%;
}


.ITBC-content .btn-ITBC:hover{
  opacity: 100%;
}
@media (max-width: 991px) {
  .ITBC-content .btn-ITBC {
    min-width: 250px;
  }
}

.ITBC-markup {
  width: fit-content;
}

.markup-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 991px) {
  .ITBC-container {
    height: 534px !important;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .ITBC-content {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .ITBC-content .ITBC-buttons {
    justify-content: center;
    grid-gap: 10px;
  }
  .ITBC-content .btn-ITBC {
    width: 150px;
    padding: 10px 25px;
  }

  .ITBC-content h1 {
    font-size: 40px;
  }
  .ITBC-content h2 {
    font-size: 34px;
  }
  .ITBC-content h3 {
    font-size: 28px;
  }
  .ITBC-content h1 {
    font-size: 22px;
  }
  .ITBC-content p,
  .ITBC-content a {
    font-size: 20px;
  }

  #customBannerCarousel .ITBC-content p {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .ITBC-content .btn-ITBC {
    width: 100%;
    min-width: 223px;
    height: 54px;
  }
}
