.ITBC-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.ITBC-container {
  position: relative;
  width: 100%;
  margin-bottom: 38px;
}

.ITBC-content p,
.ITBC-content h1,
.ITBC-content h2,
.ITBC-content h3,
.ITBC-content h4 {
  font-family: "Avenir-LT-Std";
  text-align: center;
  color: #ffffff;
}

.ITBC-content p {
  font-size: 34px;
  font-weight: 900;
}

.ITBC-content h1 {
  font-size: 100px;
  font-weight: 800;
}

.ITBC-content h2 {
  font-size: 55px;
  font-weight: 400;
}

.ITBC-content h3 {
  font-size: 40px;
  font-weight: 800;
}

.ITBC-content h4 {
  font-size: 30px;
  font-weight: 800;
}

.ITBC-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparent;
  padding: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ITBC-content .ITBC-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.ITBC-content .btn-ITBC {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 232px;
  height: 37px;
  background-color: #FFD5B5;
  border: none;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.011em;
  line-height: 2 !important;
  flex: none;
  order: 0;
  font-family: 'gotham-book';
  border-radius: 20px;
  font-weight: 700;
  color: #B37E5B;
}


.ITBC-content .btn-ITBC:hover{
    text-decoration: none;
}
@media (max-width: 991px) {
  .ITBC-content .btn-ITBC {
    min-width: 250px;
  }
}

.ITBC-markup {
  width: fit-content;
}

.markup-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


@media (max-width: 991px) {
  .ITBC-container {
    height: 534px !important;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .experience-commerce_layouts-mobileGrid2r1c  .ITBC-container {
    height: 322px !important;
    margin-bottom: 18px;
  }

  .ITBC-content {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .ITBC-content .ITBC-buttons {
    justify-content: center;
    grid-gap: 10px;
  }
  .ITBC-content .btn-ITBC {
    width: 150px;
    padding: 10px 25px;
  }

  .ITBC-content h1 {
    font-size: 40px;
  }
  .ITBC-content h2 {
    font-size: 34px;
  }
  .ITBC-content h3 {
    font-size: 28px;
  }
  .ITBC-content h1 {
    font-size: 22px;
  }
  .ITBC-content p,
  .ITBC-content a {
    font-size: 20px;
  }

  #customBannerCarousel .ITBC-content p {
    font-size: 12px;
  }
}

