.trusty {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.trusty .text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 17px;
  color: var(--color-lety1);
}

.trusty .text span {
  max-width: 120px;
  margin-left: 0.5em;
}

.trusty-text {
  color: var(--color-lety1);
}

.trusty-text2 {
  color: var(--color-lety1);
  font-weight: 700;
}

.icon img{
  object-fit: cover;
}

@media (max-width: 992px){
  .trusty{
    flex-direction: column;
    text-align: center;
  }
  .trusty .text{
    font-size: 10px;
  }

  .icon img{
    width: 81px;
    height: auto;
  }
}

@media (min-width: 544px) and (max-width: 768.98px){
  .trusty{
    flex-direction: column;
  }
  .trusty .text{
    font-size: 12px;
  }

  .icon img{
    width: 80px;
    height: 79px;
  }
}