.store-hour-notice{
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-family-gotham-bold);
}

#changeDateValue.active{
  background: #d7612b;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
}

#changeDateValue{
  background: #c4c4c46d;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  border: 1px solid rgba(128, 128, 128, 0.635);
}

.date-container{
  display: grid;
}

.date-text{
  font-size: 12px;
  margin-bottom: 5px;
}

#changeDateValue:nth-child(2){
  margin-left: 10px;
}

#changeDateValue:focus{
  outline: 0;
}

.dateTimeButtonPicker{

}