
/*  */

/* **************************** HEADER **************************** */

.responsive {
  display: none !important;
}

@media (max-width: 768px) {
  .desk {
    display: none !important;
  }

  .responsive {
    display: block !important;
  }
}

header .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 991px) {
  .site-search {
    width: 100% !important;
  }

  .search {
    margin: 0 0 0 0 !important;
    padding-top: 9px;
  }

  #searchContainer form {
    width: 100%;
  }

  .search-field-responsive,
  .search-field {
    width: 100% !important;
  }

  .search-form-container {
    flex-direction: column;
  }
  .suggestions {
    right: 0px !important;
  }

  .suggestions,
  .suggestions-wrapper {
    width: 100%;
  }
}

.navbar-header .country-selector,
.navbar-header .minicart,
.navbar-header .navbar-toggler,
.navbar-header .user {
  line-height: 1.5;
  height: auto;
}

.store-locator {
  display: inline-block;
  margin: 1.125em 0 0 0.5em;
}

.actionIcons {
  min-width: 178px;
}

/* .navbar-header {
    height: 65px;
  } */

.navbar-nav {
  background-color: #D7612B !important;
  display: flex;
  justify-content: center;
}

.hover-underline {
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: width 0.5s;
}

#menuDesk .nav-item:hover .hover-underline,
#menuDesk .nav-item a:hover .hover-underline {
  width: 50%;
}

#menuDesk .dropdown-menu .category-item.item a,
#menuDesk .nav-item a {
  color: #000000;
  font-size: 14px;
}
/* #menuDesk .dropdown-menu .category-item.item a .hover-underline {
    display: ;
  } */

/* 
  #menuDesk .nav:is(:last-child) a {
    color: #ff0000 !important;
  } */

#searcHeaderResponsive,
#searcHeader {
  background-color: transparent;
  border: none;
  padding-top: 3px;
}

#searcHeaderResponsive::after,
#searcHeader::after {
  content: url(../images/search.svg);
}

.search-field-responsive,
.search-field {
  color: #000000 !important;
  border: 1px solid #000000 !important;
  border-radius: 0 !important;
  width: 308px;
  height: 37px !important;
}

.site-search .reset-button {
  top: auto;
  padding-bottom: 4px;
}

/* .search-field-responsive {
    margin-top: 5px !important;
  } */

.form-control:focus {
  box-shadow: none !important;
  color: #ffffff;
}
.hidden {
  display: none;
}

.suggestions {
  top: 15px;
  right: -86px;
}

.suggestions .children:hover {
  background-color: #231f20 !important;
}

.suggestions .children span,
.suggestions .children a {
  color: #000000 !important;
}

.suggestions .children:hover span,
.suggestions .children:hover a {
  color: #ffffff !important;
}

.suggestions .noImageItem div {
  margin-left: 16.66667% !important; /* No Image margin */
}

.suggestions .children img {
  width: 26px !important;
  height: 26px !important;
  margin: 0px 17px !important;
}

.suggestions .header {
  border: none !important;
  color: #979797 !important;
}

.borderTopHeader:not(:first-child) {
  border-top: 0.5px solid #000000 !important;
  margin-left: 8px;
  margin-right: 8px;
}

.suggestions-desk {
  display: block;
}

.suggestions-responsive {
  display: none;
}

.suggestions-responsive .item {
  padding-right: 10%;
}

.suggestions {
  font-size: 13px;
}

.suggestions .header div,
.suggestions .children div,
.suggestions span.name,
.search input::placeholder {
  font-family: var(--font-family-gotham);
}

/* MOBILE */

@media (max-width: 543px) {
  .suggestions-responsive {
    top: 85px;
  }
}

@media (max-width: 991px) {
  .suggestions-desk {
    display: none;
  }

  .actionIcons {
    padding-top: 10px;
  }

  header .navbar-toggler {
    line-height: 0px !important;
    height: auto;
  }

  .site-search .reset-button {
    padding-bottom: 3px;
  }

  .suggestions-responsive {
    display: block;
    border: none;
  }

  .search-desk {
    display: none !important;
  }

  .store-locator {
    display: none;
  }

  .actionIcons {
    min-width: 120px;
  }
}

/* Menu */

.dropdown-menu {
  width: 100vw;
  box-shadow: none !important;
}

.dropdown-menu-content {
  width: 65%;
}

ul {
  list-style-type: none;
}

.dropdown-menu .category-item {
  font-weight: bold;
}

.dropdown-menu .subcategories {
  padding-inline-start: 0px;
}

.nav-link::after {
  display: none;
}

#openCustomMenu {
  background-color: transparent;
  border: none;
  display: none;
}

#menuDesk {
  display: block;
}

#menuResponsive {
  display: none;
}

.carousel-cart{
  overflow-y: hidden;
  height: 180vh;
}

@media (max-width: 1300px) {
  .carousel-cart{
    overflow-y: hidden;
    height: 200vh;
  }
}

@media (max-width: 991px) {
  #openCustomMenu {
    display: block;
  }

  #menuDesk {
    display: none;
  }

  #menuResponsive {
    display: block;
  }

  #customMenuResponsive {
    position: absolute;
    z-index: 2;
    flex-direction: column;
    background-color: #ffffff !important;
  }

  #customMenuResponsive ul {
    padding-inline-start: 0px;
  }

  #customMenuResponsive .nav-link {
    padding-left: 0px;
    padding-right: 0px;
  }

  #customMenuResponsive a {
    color: #000000 !important;
    font-size: 14px;
  }

  .toggle-subcategories {
    background-color: transparent;
    border: none;

    position: absolute;
    right: 0%;

    transform: rotate(-90deg);
  }

  .subCategory-item .toggle-subcategories {
    right: 10%;
  }

  .category-items .active {
    transform: rotate(0deg);
  }

  #actions-icons .items img {
    position: absolute;
    right: 25%;
  }

  #menu-container {
    padding-top: 10px;
  }

  .chat-boot {
    margin-right: -5px;
  }

  #actions-icons .items .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #actions-icons .items .nav-item {
    text-transform: uppercase;
  }

  #customMenuResponsive #image-container {
    position: relative;
    width: 100%;
    height: 172px;
  }

  #customMenuResponsive #image-container img {
    width: 100%;
    object-fit: cover;
    height: 172px;
  }

  #customMenuResponsive .category-items .underline {
    height: 1px;
    width: 100vw;
    background-color: #000000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #customMenuResponsive .close-button {
    padding: 10px;
  }

  #actions-icons .items,
  .category-items {
    width: 50%;
  }

  .carousel-cart{
    overflow-y: hidden;
    height: 240vh;
  }
}

.breadcum-product-name--slash{
  margin-left: 0.5rem !important;
}

.price-empty-space{
  margin-bottom: 30px;
}

.avaibility-product{
  color: var(--color-lety11) !important;
}

.unavailable-product{
  color: var(--color-lety6) !important;
}

.add-wishlist-alert{
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.email-signup-message{
  z-index: 10;
}