.navbar-header .country-selector,
.navbar-header .favorites,
.navbar-header .minicart,
.navbar-header .navbar-toggler,
.navbar-header .user {
  line-height: 1.5;
  margin: 1.125em 0 0 0.5em;
  height: auto;
}

.store-locator {
  display: inline-block;
  margin: 1.125em 0 0 0.5em;
}

.actionIcons {
  min-width: 178px;
}

/* .navbar-header {
    height: 65px;
} */
.main-menu,
.navbar-nav {
  display: flex;
  justify-content: center;
}

.hover-underline {
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: width 0.5s;
}

#menuDesk .nav-item:hover .hover-underline,
#menuDesk .nav-item a:hover .hover-underline {
  width: 50%;
}

#menuDesk .dropdown-menu-content a:hover {
  color: var(--color-lety2) !important;
}

#menuDesk .nav-item {
  text-shadow: 0px 7px 17px rgb(0, 0, 0);
}

#menuDesk .nav-item:hover.dropdown {
  text-shadow: none;
}

#menuDesk .nav:hover .nav-item {
  text-shadow: none;
}

.sub-category-item.item {
  margin-bottom: 3px;
}

#menuDesk .nav-item.last_category_item .sub-category-item a {
  color: #000000;
}

#menuDesk .dropdown-menu .category-item.item a,
#menuDesk .nav-item a {
  color: var(--color-lety-black);
  font-family: var(--font-family-gotham);
  font-size: 15px;
}

.nav.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7%;
}

/* #menuDesk .dropdown-menu .category-item.item a .hover-underline {
  display: ;
} */
/* 
#menuDesk .nav:is(:last-child) a {
    color: #ff0000 !important;
} */
#searcHeaderResponsive,
#searcHeader {
  background-color: transparent;
  border: none;
  padding-top: 3px;
}

#searcHeaderResponsive::after,
#searcHeader::after {
  content: url(../images/search.svg);
}

.site-search .reset-button {
  top: auto;
  padding-bottom: 4px;
}

/* .search-field-responsive {
    margin-top: 5px !important;
} */
.form-control:focus {
  box-shadow: none !important;
  color: var(--color-lety-black);
}

.hidden {
  display: none;
}

.suggestions {
  top: 15px;
  right: -86px;
}

.suggestions .children:hover {
  background-color: #231f20 !important;
}

.suggestions .children span,
.suggestions .children a {
  color: #000000 !important;
}

.suggestions .children:hover span,
.suggestions .children:hover a {
  color: #ffffff !important;
}

.suggestions .noImageItem div {
  margin-left: 16.66667% !important;
  /* No Image margin */
}

.suggestions .children img {
  width: 26px !important;
  height: 26px !important;
  margin: 0px 17px !important;
}

.suggestions .header {
  border: none !important;
  color: var(--color-lety-white) !important;
}

.borderTopHeader:not(:first-child) {
  border-top: 0.5px solid #000000 !important;
  margin-left: 8px;
  margin-right: 8px;
}

.suggestions-desk {
  display: block;
}

.suggestions-responsive {
  display: none;
}

.suggestions-responsive .item {
  padding-right: 10%;
}

.suggestions {
  font-size: 13px;
}

.suggestions .header div,
.suggestions .children div,
.suggestions span.name,
.search input::placeholder {
  font-family: var(--font-family-gotham);
}

/* MOBILE */
@media (max-width: 543px) {
  .suggestions-responsive {
    top: 85px;
  }
}

@media (max-width: 991px) {
  .suggestions-desk {
    display: none;
  }

  .actionIcons {
    padding-top: 10px;
  }

  header .navbar-toggler {
    line-height: 0px !important;
    height: auto;
  }

  .site-search .reset-button {
    padding-bottom: 3px;
  }

  .suggestions-responsive {
    display: block;
    border: none;
  }

  .search-desk {
    display: none !important;
  }

  .store-locator {
    display: none;
  }

  .actionIcons {
    min-width: 120px;
  }

  .brand {
    width: 200px !important;
    left: 0% !important;
  }
}

/* Menu */
.dropdown-menu {
  position: fixed !important;
  width: 100vw;

  box-shadow: none !important;
}

.dropdown-menu-content {
  width: 65%;
}

ul {
  list-style-type: none;
}

.dropdown-menu .category-item {
  font-weight: bold;
}

.dropdown-menu .subcategories {
  padding-inline-start: 0px;
}

.nav-link::after {
  display: none;
}

.nav-link.dropdown-toggle,
.nav-link {
  font-family: var(--font-family-gotham);
}

#openCustomMenu {
  background-color: transparent;
  border: none;
  display: none;
}

#menuDesk {
  display: flex;
  justify-content: center;
}

#menuResponsive {
  display: none;
}

@media (max-width: 991px) {
  #openCustomMenu {
    display: block;
  }

  #menuDesk {
    display: none;
  }

  #menuResponsive {
    display: block;
  }

  .brand {
    padding-top: 18px;
  }

  #customMenuResponsive {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    flex-direction: column;
    background-color: #ffffff !important;
    width: 80vw;
    height: 100vh;
  }

  #customMenuResponsive ul {
    padding-inline-start: 0px;
  }

  #customMenuResponsive .nav-link {
    padding-left: 0px;
    padding-right: 0px;
  }

  #customMenuResponsive a {
    color: #000000 !important;
    font-family: var(--font-family-gotham);
    font-size: 15px;
  }

  .subCategory-item .toggle-subcategories {
    right: 10%;
  }

  #menu-container {
    padding-top: 10px;
  }

  .chat-boot {
    margin-right: -5px;
  }

  #actions-icons .items .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #customMenuResponsive #image-container img {
    width: 100%;
    object-fit: cover;
    height: 172px;
  }

  #customMenuResponsive .close-button {
    padding: 10px;
  }

  #customMenuResponsive .sub-items {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: #fff;
  }
  #customMenuResponsive .toggle-category-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #customMenuResponsive .toggle-category-button img {
    transform: rotate(-90deg);
  }
  #customMenuResponsive .toggle-category-button.back img {
    transform: rotate(90deg);
    margin-right: 10px;
  }

  #customMenuResponsive .toggle-category-button.back {
    margin-bottom: 20px;
  }
  #customMenuResponsive .nav-link.parent {
    font-weight: 800;
    font-size: 14px;
  }
  #customMenuResponsive #actions-icons {
    margin-top: 30px;
  }
  #customMenuResponsive #actions-icons img {
    margin-right: 10px;
  }

  #customMenuResponsive .category-title {
    font-family: var(--font-family-gotham);
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: left;
  }
}

@media (max-width: 1350px) {
  #menuDesk .nav-item a{
    font-size: 13px;
  }

}

@media (max-width: 1220px) {
  #menuDesk .nav-item a{
    font-size: 11px;
  }

}
/***** View menu responsive with animation  *****/
.viewMenu {
  transform: translateX(0);
  animation-name: moveInRight;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

/***** View menu responsive with animation  *****/
.viewMenuOut {
  transform: translateX(0);
  animation-name: moveInLeft;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

/***** View menu responsive with animation  *****/
.closeMenu {
  animation-name: moveInLeftOut;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
