.btn-save-login{
  width: 100%;
  height: 37px;
  border: none;
  background-color: var(--color-lety2) !important;
  color: var(--color-lety-white);
  font-size: 18px;
  font-family: var(--font-family-gotham);
  border-radius: 20px;
  font-weight: 700;
}

.btn-save-login:hover{
  background-color: var(--color-lety-btnProduct) !important;
  color: #b37e5b !important;
}

.checkout__stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
  }
  .checkout__stepper--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
  .checkout__stepper--item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64656a;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .checkout__stepper--item-circle-current,
  .checkout__stepper--item-circle-done {
    background-color: var(--color-lety2);
  }
  .checkout__stepper--item-title {
    font-family: "Avenir-Next";
    font-size: 16px;
    color: #000000;
  }
  .checkout__stepper--divider {
    width: 10%;
    height: 2px;
    margin: 0 10px 0 10px;
    background-color: #64656a;
  }
  .checkout__stepper--divider-done {
    background-color: #000000;
  }

  
  /*Designer Login*/
  .login-page{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .login-page .breadcrumb{
    border-bottom: none !important;
  }

  .login-page .card, .myAccount .card{
    border: none !important;
  }

  .login-page .card-body, .myAccount .card-body, .myAccount .card-footer{
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
  }

.form-login{
  padding-right: 4rem;
}
.form-register{
  padding-left: 4rem;

}

.form-register {
  height: auto !important;
}

.track-order-header{
  height: 44px;
  padding-top: 11px !important;
  font-size: 18px !important;
}

.nav-tabs .nav-link.active{
  border-bottom: 0.188em solid var(--color-lety5) !important;
}

.btn-login-FG{
  width: 100%;
  min-height: 37px;
  border-radius: 25px;
}

.btn-login-FG:hover{
  background-color: var(--color-lety3);
  color: var(--color-lety-white);
  border-color: var(--color-lety-black);
}

.login-oauth .form-group img{
  width: 25px;
}

.remember-me{
  padding-left: 1.5rem !important;
}

.modal-content-password{
  padding: 23px 30px 23px 30px !important;
}

.modal-content-password .modal-title.request-password-title{
  font-size: 18px !important;
  font-family: var(--font-family-gotham-bold) !important;
}

.modal-content-password .modal-header{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.modal-content-password .request-password-body p{
  font-size: 14px !important;
}
.request-password-body .form-control-label{
  font-family: var(--font-family-gotham-bold) !important;
}

.title-cont-myaccount, .title-edit-profile, .title-edit-addres, .title-addres, .title-club{
  display: flex;
  justify-content: center;
}
.title-cont-myaccount .h1-tile-account, .title-container-account h1{
  background-color: transparent !important;
  color: var(--color-lety-black) !important;
  margin-top: 36px;
  font-size: 35px;
}

.title-addres{
  padding-top: 22px;
  margin-bottom: 16px;
}

.content-myaccount{
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.myAccount .breadcrumb{
  padding-left: 5rem !important;
}

.content-myaccount .card-link{
  color: var(--color-lety-black) !important;
}

.login-page .nav-tabs, .login-page .card-header{
  border-bottom: none !important;
}

.login-page .card-header-login{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.container-newPass, .container-no-saved-payment, .container-addres{
  padding-top: 25px;
  padding-bottom: 40px;
}

.container-history{
  padding: 40px 145px;
}

.container-newPass .breadcrumb, .container-payments .breadcrumb, 
.myAccount .breadcrumb, .container-addres .breadcrumb, 
.container-edit-addres .breadcrumb, .container-changePassword .breadcrumb,
.container-editProfile .breadcrumb, .container-history .breadcrumb, .container-detail-order .breadcrumb{
  border-bottom: none !important;
}

.container-newPass .card-header, .container-payments .card-header,
.container-editProfile .card-header, .container-edit-addres .card-header, 
.container-addres .card-header, .content-myaccount .card-header, 
.container-changePassword .card-header, .container-history .card-header, .container-detail-order .card-header{
  background: #f3f3f3;
}

.btn-delete-cart{
  background-color: var(--color-lety-btnProduct);
  color: #b37e5b !important;
  font-family: var(--font-family-gotham);
  
}

.btn-delete-cancel{
  border-color: var(--color-lety-black) !important;
}

.btn-delete-cart:hover{
  background-color: var(--color-lety2);
  color: var(--color-lety-white) !important;
}

.btn-cancelar{
  border-radius: 25px;
  width: 100%;
  border-color: var(--color-lety-black) !important;
}

.btn-cancelar:hover, .btn-delete-cancel:hover{
  border-color: var(--color-lety2) !important;
  color: var(--color-lety2) !important;
}

.title-payment, .title-edit-profile, .title-password, .title-edit-addres{
  padding-top: 47px;
  margin-bottom: 24px;
}

.label-newPayment, .title-edit-prof-form, .title-add-addres, .address-heading, 
.profile-header, .content-myaccount .card-header h2, .container-changePassword .card-header h2{
  font-size: 18px !important;
}

.content-myaccount .card-body dt, .content-myaccount .card-body .dashboard-info{
  font-family: var(--font-family-gotham-bold) !important;
  color: var(--color-lety-black);
}

.container-editProfile .btn-save{
  width: 100% !important;
}

.container-editProfile .profile-back-to-account-link, 
.container-changePassword .profile-back-to-account-link,
.container-history .profile-back-to-account-link{
  margin-top: 40px;
  margin-bottom: 50px;
}

.container-addres .remove-btn{
  right: 5rem;
  background-color: var(--color-lety-white) !important;
}

.container-changePassword label{
  font-family: var(--font-family-gotham-bold);
  font-size: 15px !important;
}

.font-size-high{
  font-size: 35px;
}

.font-size-medium{
  font-size: 25px;
}

.font-size-small{
  font-size: 15px;
}

.margin_banner{
  margin: 0;
}

/*Design Lety Club */
.container-club .card, .container-moves .card, .container-history .card, .container-detail-order .card{
  border: none;
}
.container-club .card-body, .container-moves .card-body, .container-history .card-body, 
.container-history .card-footer, .container-detail-order .card-body{
  padding: 1.25rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.title-club{
  padding-top: 40px;
}

.container-club .card-header, .container-moves .card-header{
  background-color: var(--color-lety-checkout-grey);
}

.data-info{
  padding-top: 29px;
}

.span-club-info{
  display: flex;
}

.p-info{
  font-family: var(--font-family-gotham-bold);
}

.input-card{
  width: 100%;
}

.container-label{
  display: grid;
  padding: 1rem 0 .5rem 0;
}

.label-card{
  font-family: var(--font-family-gotham-bold);
}

.container-img-card{
  display: flex;
  justify-content: center;
}

.form-left{
  padding: 20px 6rem 10px 0px;
}

.form-right{
  padding: 20px 0 20px 6rem;;
}

.cont-col{
  padding-right: 5rem;
}

.cont-city{
  padding-left: 3rem;
  padding-right: 3rem;
}

.cont-state{
  padding-left: 5rem;
}


.container-buttoms{
  padding: 30px 0 20px 0;
}

.tr-info{
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.content-table{
  padding-top: 4rem;
}

.container-moves table{
  width: 100%;
}

.label-search{
  text-align: right;
}

.container-history .card-header h3, .container-history .dashboard-order-card-footer-columns p{
  font-size: 18px;
  font-family: var(--font-family-gotham-bold) !important;
}

.view-order{
  justify-content: center;
  float: left !important;
  padding-top: 60%;
  color: var(--skin-primary-color-1);
}

.col-detail-resum{
  padding-top: 8%;
  padding-left: 10%;
}

.container-detail-order{
  padding: 20px 145px;
  display: inline !important;
}

.page-title-order{
  font-family: var(--font-family-gotham-bold);
  font-size: 35px;
  padding-top: 66px;
}


.container-payments .select-month, .container-payments .select-year{
  max-width: 435px !important;
}

.container-payments .label-year, .container-payments .label-month{
  padding-left: 0 !important;
}

.container-payments .div-year{
  text-align: right;
}

.container-payments .payment-form .btn.btn-cancelar, .container-payments .btn-product{
 max-width: 475px !important;
}

.container-payments label{
 font-family: var(--font-family-gotham-bold);
}



/*responsive 992*/
@media (max-width: 992px) {
  .form-login{
    padding-right: 1rem;
  }
  .form-register{
    padding-left: 1rem;
  
  }
  .login button{
    width: 100%;
  }
  .trackorder .btn-track{
    width: 100%;
    font-size: 14px !important;
  }
  .login .btn-product, .trackorder .btn-track{
    color: var(--color-lety-white) !important;
  }

  .content-myaccount{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .div-btn-cancel{
    padding-bottom: 10px !important;
  }

  .div-btn-save .btn-save{
    width: 100% !important;
  }

  .div-btn-save{
    padding-top: 10px;
  }

  .div-mobile-back-profile{
    text-align: center !important;
  }

  .title-edit-addres{
    padding-top: 20px;
  }
}


