.page {
  background-color: #f9f9f9;
}
.checkout-card-header {
  font-size: 1.5rem;
}
.grand-total-price {
  float: right;
  font-weight: 600;
}
.grand-total,
.grand-total-label {
  font-weight: 600;
}
.grand-total {
  font-size: 1.125rem !important;
}
.order-receipt-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-divider {
  margin-left: -0.625em;
  margin-right: -0.625em;
}
.product-divider hr {
  border-top: 0.063em dashed;
}
.multi-shipping + .product-line-item:before,
.product-line-item + .product-line-item:before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em;
}
@media (min-width: 992px) {
  .multi-shipping + .product-line-item:before,
  .product-line-item + .product-line-item:before {
    margin: 0.625em -1.225em;
  }
}
.shipment-block + .shipment-block:before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em;
}
@media (min-width: 992px) {
  .shipment-block + .shipment-block:before {
    margin: 0.625em -1.225em;
  }
}
.shipping-method {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hero-confirmation {
  background-image: url("../../images/thankyou.jpg");
  background-position-y: -8.125em;
}
.product-summary-block {
  margin: 1em 0;
}
.product-summary-block h3 {
  font-size: 1.25rem;
}
.leading-lines {
  overflow: hidden;
  margin: 0;
}
.leading-lines label {
  background-color: #fff;
}
.leading-lines .start-lines {
  padding: 1px;
}
.leading-lines .start-lines span {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
.leading-lines .start-lines:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  z-index: 1;
  color: #adadad;
}
.leading-lines .end-lines {
  padding: 1px;
}
.leading-lines .end-lines span {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
.summary-details {
  font-size: 0.938em;
  margin-bottom: 1em;
}
.summary-details .address-summary {
  margin-bottom: 0.5em;
}
.summary-section-label {
  font-size: 1em;
  font-weight: 600;
}
@media (min-width: 992px) {
  .summary-section-label {
    font-weight: 500;
  }
}
.add-payment {
  margin-top: 1rem;
}
.selected-payment {
  background-color: #e9ecef;
}
.saved-security-code {
  margin-top: 1rem;
}
.saved-credit-card-type {
  font-weight: 600;
}
.saved-payment-information {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.payment-information {
  margin-bottom: 1rem;
}
.checkout-hidden {
  display: none;
}
.card-image {
  margin-top: 0.5rem;
  width: 100%;
}
.cancel-new-payment {
  margin-top: 1rem;
}
.form-check.start-lines {
  padding-left: 1.5rem;
}
.multi-ship .shipping-summary .single-shipping,
.multi-ship .single-shipping .shipping-content {
  display: none;
}
.gift-message-block {
  padding-bottom: 1em;
  padding-top: 1em;
}
.confirm-details .shipping-method,
.confirm-details .shipping-method-price,
.single-shipping .summary-section-label {
  margin-bottom: 0;
}
.multi-ship .confirm-details .single-shipping,
.multi-shipping {
  display: none;
}
.contact-info-block {
  border-bottom: 0.063em dashed #ccc;
}
.shipping-method-block h3,
.view-address-block h3 {
  font-size: 1.25rem;
}
.card-number-wrapper {
  position: relative;
}
.card-number-wrapper:after {
  content: "";
  position: absolute;
  right: 3px;
  background-repeat: no-repeat;
  background-image: url("../../images/credit.png");
  background-size: contain;
  width: 48px;
  height: 30px;
  top: 5px;
}
.card-number-wrapper[data-type="visa"]:after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -162px -110px;
}
.card-number-wrapper[data-type="mastercard"]:after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -295px -110px;
}
.card-number-wrapper[data-type="amex"]:after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -230px -15px;
}
.card-number-wrapper[data-type="discover"]:after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -95px -110px;
}
.card.ghost {
  opacity: 0.5;
}
.arrival-time {
  white-space: pre;
}
.billing-address {
  display: block;
}
.checkout-checkbox {
  font-size: 0.875em;
}
.customer-information-block .btn-link {
  color: var(--skin-link-color-2);
  padding: 0;
  vertical-align: baseline;
}
.btn-add-new,
.btn-show-details,
.edit-button {
  color: var(--skin-primary-color-1);
  float: right;
  cursor: pointer;
}
.btn-add-new:hover,
.btn-show-details:hover,
.edit-button:hover {
  text-decoration: underline;
}
.edit-button {
  border: none;
  padding: 0;
  background: none;
}
.error-message {
  display: none;
}
.next-step-button {
  bottom: 0;
  z-index: 3;
}
.shipping-methods {
  font-size: 1.125em;
  font-weight: 600;
}
.shipping-method-option {
  font-size: 0.938em;
}
.shipping-method-pricing {
  font-weight: bolder;
}
.multi-ship .multi-shipping,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-city-st-zip,
span.ship-to-name,
span.ship-to-phone {
  display: block;
}
.data-checkout-stage[data-checkout-stage="customer"] .card.customer-summary,
.data-checkout-stage[data-checkout-stage="customer"] .card.ghost.customer,
.data-checkout-stage[data-checkout-stage="customer"] .card.payment-form,
.data-checkout-stage[data-checkout-stage="customer"] .card.shipping-section,
.data-checkout-stage[data-checkout-stage] .card.payment-summary,
.data-checkout-stage[data-checkout-stage] .shipping-summary,
.data-checkout-stage[data-checkout-stage] button.place-order,
.data-checkout-stage[data-checkout-stage] button.submit-payment,
.data-checkout-stage[data-checkout-stage] button.submit-shipping {
  display: none;
}
.data-checkout-stage[data-checkout-stage="customer"] button.submit-customer {
  display: block;
}
.data-checkout-stage[data-checkout-stage="shipping"] .card.customer-section,
.data-checkout-stage[data-checkout-stage="shipping"] .card.ghost,
.data-checkout-stage[data-checkout-stage="shipping"] .card.ghost.customer,
.data-checkout-stage[data-checkout-stage="shipping"] .card.payment-form,
.data-checkout-stage[data-checkout-stage="shipping"].multi-ship
  .order-product-summary,
.data-checkout-stage[data-checkout-stage="shipping"] button.submit-customer {
  display: none;
}
.data-checkout-stage[data-checkout-stage="shipping"] button.submit-shipping {
  display: block;
}
.data-checkout-stage[data-checkout-stage="shipping"]
  .shipment-selector-block
  .btn-add-new,
.data-checkout-stage[data-checkout-stage="shipping"]
  .shipment-selector-block
  .btn-show-details {
  border: none;
}
.data-checkout-stage[data-checkout-stage="payment"] .card.ghost,
.data-checkout-stage[data-checkout-stage="payment"] .customer-section,
.data-checkout-stage[data-checkout-stage="payment"] .shipping-section,
.data-checkout-stage[data-checkout-stage="payment"] button.submit-customer,
.data-checkout-stage[data-checkout-stage="shipping"]
  [data-address-mode="customer"]
  .shipping-address-block,
.data-checkout-stage[data-checkout-stage="shipping"]
  [data-address-mode="edit"]
  .shipping-address-block,
.data-checkout-stage[data-checkout-stage="shipping"]
  [data-address-mode="new"]
  .btn-add-new,
.data-checkout-stage[data-checkout-stage="shipping"]
  [data-address-mode="new"]
  .btn-show-details,
.data-checkout-stage[data-checkout-stage="shipping"]
  [data-address-mode="shipment"]
  .shipping-address-form {
  display: none;
}
.data-checkout-stage[data-checkout-stage="payment"] .card.payment-form,
.data-checkout-stage[data-checkout-stage="payment"] .shipping-summary,
.data-checkout-stage[data-checkout-stage="payment"] button.submit-payment {
  display: block;
}
.data-checkout-stage[data-checkout-stage="payment"]
  .address-selector-block
  .btn-add-new,
.data-checkout-stage[data-checkout-stage="payment"]
  .address-selector-block
  .btn-show-details {
  border: none;
}
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="customer"]
  .billing-address,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="details"]
  .btn-add-new,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="details"]
  .btn-show-details,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="edit"]
  .billing-address,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="new"]
  .btn-add-new,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="new"]
  .btn-show-details,
.data-checkout-stage[data-checkout-stage="payment"]
  [data-address-mode="shipment"]
  .billing-address,
.data-checkout-stage[data-checkout-stage="placeOrder"] .card.ghost,
.data-checkout-stage[data-checkout-stage="placeOrder"] .card.payment-form,
.data-checkout-stage[data-checkout-stage="placeOrder"] .customer-section,
.data-checkout-stage[data-checkout-stage="placeOrder"] .shipping-section,
.data-checkout-stage[data-checkout-stage="placeOrder"] button.submit-customer {
  display: none;
}
.data-checkout-stage[data-checkout-stage="placeOrder"] .card.payment-summary,
.data-checkout-stage[data-checkout-stage="placeOrder"] .shipping-summary,
.data-checkout-stage[data-checkout-stage="placeOrder"] button.place-order {
  display: block;
}
.data-checkout-stage[data-checkout-stage="submitted"] .card.ghost,
.data-checkout-stage[data-checkout-stage="submitted"] .card.payment-form,
.data-checkout-stage[data-checkout-stage="submitted"] .shipping-form,
.data-checkout-stage[data-checkout-stage="submitted"]
  .summary-section-label.shipping-addr-label,
.data-checkout-stage[data-checkout-stage="submitted"] button.submit-customer {
  display: none;
}
.data-checkout-stage[data-checkout-stage="submitted"] .card.payment-summary,
.data-checkout-stage[data-checkout-stage="submitted"] .shipping-summary {
  display: block;
}
.data-checkout-stage[data-checkout-stage="submitted"] button.place-order,
.data-checkout-stage option[value="new"] {
  display: none;
}
.data-checkout-stage h5 > span {
  font-size: 0.8em;
}
.single-shipping .multi-ship-action-buttons,
.single-shipping .view-address-block,
[data-customer-type="guest"] .single-shipping .shipment-selector-block {
  display: none;
}
.btn-show-details {
  padding-top: 0;
}
.multi-ship-address-actions .btn-save-multi-ship {
  margin-left: 10px;
}
#checkout-main .card.customer-summary {
  display: none;
}
.shipping-address-block input {
  border-radius: 0;
}
.shipping-address-block input:focus {
  border-color: #000;
}
.form-control-label {
  font-family: "Avenir-Bold";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.form-control-label span {
  font-family: "Avenir-Next";
  margin-left: 10px;
  font-size: 12px;
}
.shipping-check-card {
  padding: 30px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card.order-product-summary .strike-price {
  height: auto;
}
.shipping-check-card {
  position: relative;
}
.form-check-input.p-absolute {
  top: 7%;
  left: 10%;
}
.summary-edit-btn {
  position: absolute;
  right: 0;
}
#dwfrm_billing fieldset {
  padding: 0;
}
.billing-nav.payment-information .nav-tabs .nav-link.active {
  border-left: 0.188em solid var(--skin-primary-color-1);
  border-bottom: 0;
}
.form-control.custom-select {
  text-transform: capitalize;
}
.nav.nav-tabs.payment-options .nav-item .nav-link {
  display: flex;
  justify-content: flex-end;
}
.shipment-selector-btns button {
  background: none;
}
.card-header-custom.header-shipping {
  font-family: "Avenir-Bold";
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}
.shipment-selector-btns h3 {
  font-family: "Avenir-Bold";
  font-weight: 800;
  font-size: 19px;
  line-height: 26px;
}
.shipping-card-header {
  font-family: "Avenir-Bold";
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  border-radius: 0;
}
.shipping-check-card:focus {
  outline: solid;
}
@media (min-width: 768px) {
  .shipment-selector-btns h3 {
    font-family: "Avenir-Next";
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }
  .shipping-card-header {
    font-family: "Avenir-Next";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }
}
.shipping.only-visible {
  pointer-events: none;
}
.shipping.only-visible .start-lines::before {
  content: "";
}
.shipping.only-visible span,
.shipping.only-visible .leading-lines label {
  background: none;
}
.shipping.only-visible .shipping-method-option {
  display: flex;
  flex-direction: column;
}
.shipping.only-visible .shipping-method-option .display-name {
  font-family: "Avenir-Bold";
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.shipping.only-visible .shipping-method-option .text-muted.arrival-time {
  font-family: "Avenir-Next";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000 !important;
}
.checkout-summary-title-2 {
  font-family: "Avenir-Bold";
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.checkout-summary-title-1 {
  font-family: "Avenir-Bold";
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}
.paypal-checkout-button {
  display: flex;
  justify-content: center;
}
.check-decorator {
  position: absolute;
  left: 5%;
  top: 5%;
}
#outer-circle {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
}
#inner-circle {
  background: #ff0000;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.shipping-check-card.active #inner-circle {
  display: block;
}
